/* //#cb997e darker brown
//ddbea9 lighter brown
//ffe8d6 lightest brown
//b7b7a4 light green(puke)
//6b705c darker green(vomit) */

body {
  background-image: url("public/bg1.JPG");
  background-size: cover;
  background-position: center;
}

#root {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  display: block;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
#video {
  position: relative;
  border-width: 5px;
  border-color: black;
  margin-top: 20px;
  margin-left: 20px;
}
#homeButton {
  position: absolute;
  height: 12.6vh;
  width: 10vw;
  left: 0;
  top: 0;
  border: 1px solid transparent;
  font-size: 20px;
  font-family: inherit;
  background-color: #336630;
  cursor: pointer;
  transition: border-color 0.25s;
}
#homeButton:hover {
  border-color: #ffffff;
}
.card {
  position: relative;
  padding: 2em;
  background-color: #080808;
}

.footer {
  background-color: #5e341f;
  text-align: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header {
  height: 12.6vh;
  width: 100%;
  background-color: #6b705c;
  color: #fffff0;
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: stretch;
}
header .hero-banner {
  position: relative;
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 90%;
  justify-content: right;
}

li {
  display: inline-block;
}

#bigButton {
  text-decoration: none;
  color: #fffff0;
  font-weight: bold;
  font-size: 32px;
  background-color: #336630;
  height: 100%;
  height: 12.6vh;
  width: 30vw;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
#bigButton:hover {
  cursor: pointer;
  border-color: #ffffff;
}

.hero-banner {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}
